{extend name="layout:home" /}
{block name="container"}
<div class="layui-tab layui-tab-card">
    {include file="layout/admin_items" /}
    <div class="layui-tab-content page-tab-content">
        <table class="layui-table lay-even">
            <thead>
                <tr>
                    <th width="15%">{$Think.lang.individual_id}</th>
                    <th width="50%">{$Think.lang.individual_title}</th>
                    <th width="15%">{$Think.lang.individual_displaytype}</th>
                    <th width="20%">{$Think.lang.ds_operation}</th>
                </tr>
            </thead>
            <tbody>
            {volist name="individual_list" id="individual"}
            <tr>
                <td>{$individual.individual_id}</td>
                <td>{$individual.individual_title}</td>
                <td>
                    <a href="javascript:dsLayerConfirm('{:url('individual/setindividual',['individual_type'=>'individual_displaytype','individual_id'=>$individual.individual_id])}','{$Think.lang.ds_confirm_update}')">
                        {if condition="$individual.individual_displaytype eq 1"}<i class="layui-icon">&#xe605;</i>{else}<i class="layui-icon">&#x1006;</i>{/if}
                    </a>
                </td>
               <td>
                    <a href="{:url('individual/edit',['individual_id'=>$individual.individual_id])}" class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-edit"></i>{$Think.lang.ds_edit}</a>
                    <a href="javascript:dsLayerConfirm('{:url('individual/del',['individual_id'=>$individual.individual_id])}','{$Think.lang.ds_confirm_cancel}')" class="layui-btn layui-btn-danger layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>{$Think.lang.ds_del}</a>
               </td>
            </tr>
            {/volist}
        </tbody>
        </table>
        {$show_page|raw}
    </div>
</div>
<script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/jquery.edit.js"></script>
{/block}