{extend name="layout:home" /}

{block name="container"}
<form class="layui-form" method="post" enctype="multipart/form-data" >
    <div class="layui-tab layui-tab-card">
        {include file="layout/admin_items" /}
        <div class="layui-tab-content page-tab-content">
            <div class="layui-tab-item layui-show ">
                
                
                <div class="layui-collapse">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">基本设置</h2>
                        <div class="layui-colla-content layui-show">
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$Think.lang.product_parent}</label>
                                <div class="layui-input-inline">
                                    <select name="column_id" id="column_id">
                                        <option value="">{:lang('ds_please_choose')}一级栏目</option>
                                    </select>
                                    <select name="column_id2" id="column_id2">
                                        <option value="">{:lang('ds_please_choose')}二级栏目</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$Think.lang.product_title}</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input field-name" name="product_title" id="product_title" value="{$product.product_title|default=''}" lay-verify="product_title" autocomplete="off" placeholder="{$Think.lang.ds_please_enter}{$Think.lang.product_title}" required />
                                </div>
                            </div>
                            
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$Think.lang.product_order}</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input field-name" name="product_order" id="product_order" value="{$product.product_order|default='255'}" lay-verify="product_order" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$Think.lang.product_addtime}</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input field-name" name="product_addtime" id="product_addtime" value="{$product.product_addtime|date='Y-m-d'}"/>
                                </div>
                                <div class="layui-form-mid layui-word-aux">{$Think.lang.ds_empty_current_time}</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$Think.lang.product_imgurl}</label>
                                <div class="layui-input-inline">
                                    {notempty name="$product.product_imgurl"}
                                    <img src="{:get_product_img($product['product_imgurl'])}" height="80"/>
                                    <input type="hidden" name="product_imgurl" id="product_imgurl" value="{$product.product_imgurl|raw}"/>
                                    {/notempty}
                                    <input type="file" name="product_img"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$Think.lang.product_displaytype}</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="product_displaytype" lay-skin="switch" lay-text="{$Think.lang.ds_yes}|{$Think.lang.ds_no}" value="1" {if condition="$product.product_displaytype eq '1'"}checked{/if}>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$Think.lang.product_wap_ok}</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="product_wap_ok" lay-skin="switch" lay-text="{$Think.lang.ds_yes}|{$Think.lang.ds_no}" value="1" {if condition="$product.product_wap_ok eq '1'"}checked{/if}>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">详情内容</h2>
                        <div class="layui-colla-content">
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$Think.lang.product_content}</label>
                                <div class="layui-input-block">
                                    {:build_editor(['name'=>'product_content','content'=>isset($product.product_content)?htmlspecialchars_decode($product.product_content):''])}
                                    <textarea name="product_content" id="product_content" style="min-height:400px;"></textarea>
                                </div>
                            </div>
                            <button type="button" class="layui-btn" id="upload_productpic"><i class="layui-icon"></i>{$Think.lang.ds_uploading_files}</button>
                            <div class="selected_pic clearfix">
                                <ul>
                                    {foreach name="pic_list" id="productpic"}
                                    <li id="{$productpic.pic_id}">
                                        <img src="{:get_product_img($productpic['pic_cover'])}"/>
                                        <i class="delect layui-icon" title="{$Think.lang.ds_insert_editor}" onclick="insert_editor('{:get_product_img($productpic['pic_cover'])}')">&#xe654;</i>
                                        <i class="insert layui-icon" title="{$Think.lang.ds_delete_picture}" onclick="del_productpic({$productpic.pic_id})">&#xe640;</i>
                                    </li>
                                    {/foreach}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">SEO设置</h2>
                        <div class="layui-colla-content">
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$Think.lang.seo_title}</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input field-name" name="seo_title" id="seo_title" value="{$product.seo_title|default=''}" placeholder="{$Think.lang.ds_please_enter}{$Think.lang.seo_title}" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$Think.lang.seo_keywords}</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input field-name" name="seo_keywords" id="seo_keywords" value="{$product.seo_keywords|default=''}" placeholder="{$Think.lang.ds_please_enter}{$Think.lang.seo_keywords}" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$Think.lang.seo_description}</label>
                                <div class="layui-input-block">
                                    <textarea class="layui-textarea field-name" name="seo_description">{$product.seo_description|default=''}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="layui-form-item mt20">
                    <div class="layui-input-inline">
                        <input type="submit" class="layui-btn layui-btn-normal" lay-submit value="{:lang('ds_submit')}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use('form', function () {
        var form = layui.form;
    });
    layui.use('element', function () {
        var element = layui.element;
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#product_addtime'
        });
    });
    /**
     * 图片异步上传
     */
    layui.use('upload', function () {
        var $ = layui.jquery, upload = layui.upload;
        //指定允许上传的文件类型
        upload.render({
            elem: '#upload_productpic'
            , url: "{:url('pic/upload',['pic_type_id'=>$Request.param.product_id,'pic_type'=>$product_pic_type.pic_type])}"
            , accept: 'file' //普通文件
            , done: function (res) {
                add_uploadedfile(res);
//                console.log(res)
            }
        });
    });
    function add_uploadedfile(file_data)
    {
        var newImg = '<li id="' + file_data.file_id + '"><img src="' + file_data.file_url + '"/><i class="delect layui-icon" title="插入编辑器" onclick="insert_editor(\''+file_data.file_url+'\')">&#xe654;</i><i class="insert layui-icon" title="删除图片" onclick="del_productpic(' + file_data.file_id + ')">&#xe640;</i></li>'
        $('.selected_pic ul').prepend(newImg);
    }


    /**
     * 插入编辑器
     */
    function insert_editor(file_path){
        ue.execCommand('insertimage', {src:file_path});
    }

    function del_productpic(file_id)
    {
        layer.open({
            content: '{$Think.lang.ds_confirm_cancel}',
            yes: function(index, layero){
                $.getJSON("{:url('pic/del')}",{file_id: + file_id,pic_type:'product'}, function(result){
                    if(result){
                        $('#' + file_id).remove();
                        layer.msg('{$Think.lang.del_succ}');
                        layer.close(index);
                        return;
                    }else{
                        layer.msg('{$Think.lang.del_fail}');
                        layer.close(index);
                        return;
                    }
                });
            }
        });
    }
</script>
<script>
    var column_id = '{$product[\'column_id\']}';
    var column_id2 = '{$product[\'column_id2\']}';
    var webclass = {$column_list|raw};
    var column_id_index = -1;
    webclass.forEach(function(a,i){
        if(parseInt(column_id) == a[0]){
            column_id_index = i;
            $('select[name=column_id]').append('<option selected value="' + a[0] + '">' + a[1] + '</option>');
        }else {
            $('select[name=column_id]').append('<option value="' + a[0] + '">' + a[1] + '</option>');
        }
    });
    if(column_id_index != -1){
        webclass[column_id_index][2].forEach(function (a, i) {
            $('select[name=column_id2]').append('<option '+((column_id2==a['column_id'])?'selected':'')+' value="' + a['column_id'] + '">' + a['column_name'] + '</option>');
            $('select[name=column_id2]').next().find('.layui-anim-upbit').append('<dd lay-value="' + a['column_id'] + '" class="layui-this">' + a['column_name'] + '</dd>');
        });
    }
    $(function(){
        $('body').on('mouseup','.layui-anim-upbit:eq(0) dd',function(){
            $('select[name=column_id2] > option:gt(0)').remove();
            $('select[name=column_id2]').next().find('.layui-unselect').val($('select[name=column_id2]').next().find('.layui-anim-upbit > dd:eq(0)').text());
            $('select[name=column_id2]').next().find('.layui-anim-upbit > dd:gt(0)').remove();
            if($(this).index()){
                webclass[$(this).index()-1][2].forEach(function (a, i) {
                    $('select[name=column_id2]').append('<option value="' + a['column_id'] + '">' + a['column_name'] + '</option>');
                    $('select[name=column_id2]').next().find('.layui-anim-upbit').append('<dd lay-value="' + a['column_id'] + '" class="layui-this">' + a['column_name'] + '</dd>');
                });
            }
        });
        $('body').on('mouseup','.layui-anim-upbit:eq(1) dd',function() {
            $('select[name=column_id2]').get(0).selectedIndex = $(this).index();
            $('select[name=column_id2]').next().find('.layui-unselect').val($(this).text());
        });
    });
</script>
{/block}


